body 
{
    font-family: Cambria;
}
header, footer
{
    background-color: sienna;
    color: white;
    padding: 5px;
    text-align: center;
}
main 
{
    background-color: antiquewhite;
    height: 700px;
    font-size: 120%;
    overflow: auto;
}
select, input
{
    width: 150px;
    margin: 10px;
}
img 
{
    float: left;
    padding: 18px;
}
table
{
    width: 70%;
    margin: 15px;
    padding: 7px;
    border: 1px solid sienna;
    border-radius: 30px;
    text-align: center;
}
.cena
{
    background-color: sienna;
    color: white;
    text-align: right;
}
